body {
  background-color: #212e36;
}
.logo {
  height: 100px;
}
.headerTitle {
  margin-top: -85px;
}
.coinConversionBoxEmpty {
  background-color: #212e36de;
  box-shadow: 0 15px 15px #121a1f, inset 0 0px 30px #00bcd4;
  height: 100%;
  width: inherit;
  border: 2px solid #00bcd4;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.transactionStyle {
  background-color: #f6ac40;
  padding: 0px 15px 3px 15px;
  border-radius: 25px;
}
.coinConversionBoxEmpty h3 {
  height: 100%;
}
.coinConversionBoxEmpty h3 span {
  cursor: pointer;
  text-decoration: underline;
}
.coinConversionBoxEmpty h3 span:hover {
  color: #f6ac40 !important;
}
.coinConversionBox1 {
  background-color: #212e36;
  box-shadow: 0 15px 15px #121a1f, inset 0 0px 15px #00bcd4;
  min-height: 300px;
  border: 2px solid #00bcd4;
  border-radius: 20px;
}
.conversionLogos img {
  height: 70px;
}
.inputBgStyle {
  border: 1px solid rgb(0 188 212);
  background: transparent !important;
  color: white !important;
  border-radius: 20px;
  padding: 18px;
}
.inputBgStyleConsult {
  background: transparent !important;
  color: #f6ac40 !important;
  padding: 18px;
  border: 1px solid #f6ac40;
  border-radius: 20px;
}
.zilliqaImageModal img {
  height: 50px;
}
.dots {
  color: #4ebccb;
  font-size: 75px;
}
.yellowColor {
  color: #f6ac40;
}
.blueColor {
  color: #00bcd4;
}
.nav-link:hover,
.nav-link:focus {
  color: #00bcd4 !important;
  transition: 0.4s;
}
.navbar-toggler {
  background-color: #f6ac40 !important;
}
.walletStyle {
  background-color: #212e36;
  border: 2px solid #4ebccb;
  border-radius: 50px;
  padding: 7px;
  box-shadow: inset 0 0 14px #4ebccb;
  position: relative;
}
.walletStyle img {
  height: 30px;
}
.zilpayConnected {
  font-size: 12px;
  border: 1px solid #4cbccb;
  padding: 3px 10px;
  border-radius: 25px;
}
.conversionRate {
  color: #f6ac3c !important;
}
.walletImg1 {
  border-radius: 20px;
  border: 2px solid #f6ac40;
  box-shadow: inset 0 0 10px #f6ac40;
  color: #f6ac40;
  font-weight: 600;
}
.walletImg1:hover {
  background-color: #f6ac40;
  color: #000000;
}
.walletImg2:hover {
  background-color: #4cbccb;
  color: #ffffff;
}
.walletImg2 {
  border-radius: 20px;
  border: 2px solid #4ebccb;
  box-shadow: inset 0 0 10px #4ebccb;
  color: #ffffff;
  font-weight: 600;
  font-size: 10px;
}
.buyTokenBtn {
  border: 2px solid #00bcd4;
  box-shadow: 0 0 10px black;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  padding: 5px 50px;
  animation: buyTokenBtnAnime 2s linear infinite alternate;
}
.buyTokenBtn:hover {
  color: rgb(255, 255, 255) !important;
  border: 2px solid #f6ac40;
  animation: buyTokenBtnAnime1 2s linear infinite alternate;
}
.balanceStyle p {
  font-size: 25px;
}
.balanceStyle .firstDiv,
.balanceStyle .secondDiv {
  border-radius: 25px;
}
.balanceStyle .firstDiv {
  background: linear-gradient(270deg, #00bcd461 20%, transparent 75%);
}
.balanceStyle .secondDiv {
  background: linear-gradient(90deg, #f6ac4061 20%, transparent 75%);
}
.balanceStyle span {
  font-size: 15px;
  color: white !important;
}
.DownArrowStyle img {
  height: 60px;
}
.modal-content {
  background-color: #212e36f0 !important;
  border-radius: 10px;
  box-shadow: 0 0px 16px #00bcd48f, inset 0 0px 20px #00e2ff;
  border: 2px solid #00bcd4;
}
.close {
  color: white !important;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  opacity: 1;
  background-color: #797979 !important;
  border: 1px solid rgb(117 117 117);
}
.zilpayConnectBoxModal {
  background-color: #212e36;
  margin: 5px 10px;
  box-shadow: inset 0 0 15px #00bcd4, 0 0 5px #5f5f5f;
  border-radius: 10px;
  border: 1px solid #00bcd4f2;
}
.signalStyle {
  height: 20px;
}
.connectZilPay {
  cursor: pointer;
  text-decoration: underline;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.jq-toast-wrap {
  width: 350px;
}
.jq-toast-single {
  font-size: 16px;
}

@keyframes buyTokenBtnAnime1 {
  0% {
    box-shadow: inset 0 0 10px 0 #f6ac40;
  }
  100% {
    box-shadow: inset 0 0 30px 0 #f6ac40;
  }
}
@keyframes buyTokenBtnAnime {
  0% {
    box-shadow: inset 0 0 10px 0 #00bcd4;
  }
  100% {
    box-shadow: inset 0 0 30px 0 #00bcd4;
  }
}
@media only screen and (max-width: 991px) {
  .headerTitle {
    margin-top: -30px;
  }
}
@media only screen and (max-width: 767px) {
  .logo {
    height: 75px;
  }
  #collapsibleNavbar {
    background-color: #212e36;
    padding: 10px;
    box-shadow: 0 0 10px #00bbd466;
  }
  .headerTitle {
    margin-top: 0px;
  }
}
